@use '../config.scss';


.content {
    padding: 20px 0;
    margin-top: 60px;
    
  }

  /* Navbar lateral */
  .navbar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: config.$colorTertiary; /* Cor fixa */
    padding-top: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
  }
  
  .navbar.active {
    left: 0;
  }
  
  .navbar .logo {
    text-align: center;
    padding: 10px;
  }
  
  .navbar .logo img {
    width: 100px;
  }
  
  .navbar .close-btn {
    font-size: 30px;
    color: black;
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    
  }
  
  .navbar .navbar-list {
    list-style: none;
    padding: 0;
    
  }
  
  .navbar .navbar-list li {
    padding: 8px 16px;
  }

  
  .navbar .navbar-list li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    transition: background 0.3s;
    padding: 10px;
    font-family: config.$fontTitle;
    font-weight: bold;
  }
  
  .navbar .navbar-list li a:hover {
    background-color: #FFB8E0;
    border-radius: 5px;
  }
  
  /* Navbar superior */
  .top-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: config.$colorTertiary; /* Cor fixa */
    padding: 10px 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: config.$fontTitle;
    font-weight: bold;
  }
  
  .top-navbar .logo {
    width: 80px;
  }
  
  .top-navbar .logo img {
    width: 100%;
    display: block;
  }
  
  .top-navbar-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .top-navbar-list li {
    margin: 0 15px;
    
  }
  
  .top-navbar-list li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    transition: background 0.3s;
  }
  
  .top-navbar-list li a:hover {
    background-color: config.$colorSecundary;
    border-radius: 5px;
  }
  
  /* Botão do menu */

 .menu-btn {
  display: none;
  font-size: 30px;
  color: config.$colorTertiary;
  background: rgb(142, 68, 211);
  border: none;
  border-radius: 5px;
  position: fixed; 
  top: 20px;
  left: 20px; 
  z-index: 1001; 
  cursor: pointer;

  &:hover {
    color: #FFB8E0;
  }
}

/* Esconder o botão do menu quando o menu estiver aberto */
.menu-btn.hidden {
  display: none;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .navbar {
    top: 0;
  }

  .top-navbar {
    display: none;
  }

  .menu-btn {
    display: block; /* Exibe o botão de menu hambúrguer em telas menores */
  }

  .content {
    margin-left: 0;
    margin-top: 60px;
  }
}

  
  /* Navbar superior visível apenas em telas grandes */
  @media screen and (min-width: 769px) {
    .top-navbar {
      display: flex;
    }
  
    .navbar {
      display: none;
    }
  }
  
  .logo img {
    width: 50px;
  }