$colorPrimary: #FFEDFA;
$colorSecundary: #FFB8E0;
$colorTertiary: #EC7FA9;
$colorQuaternary: #BE5985;


// Fonts

$fontSite: 'Roboto', sans-serif;
$fontTitle: 'Encode Sans Condensed', sans-serif;
$fontBanner: 'Ponomar', sans-serif;