

body {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App {
  padding-top: 60px; /* Ajuste a margem conforme o tamanho da Navbar */
}

html {
  scroll-behavior: smooth;
}

/* Verifique se o navbar ou qualquer outro elemento não está cobrindo a página */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Impede a rolagem horizontal */
}

